@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

.arc path {
  stroke: #fff;
}
.viz {
	font-size: 8px;
}
.viz, .viz2 {
	float: left; width: 500px; height:500px;
}
.people {
   width: 95px; height: 80px; display: block;
  color: #fff; margin-bottom: 8px; float: left; font-size: 10px;
}
.people:hover, .people:focus {
  text-decoration: none;
}
.people:focus{
  outline: none;
}
.people img {
position: relative; border: 3px solid #222;
}
.highlight img {
border: 3px solid #DF7401;
}
.people:hover img {
  width: 90px; height: 90px; top: -5px; 
}
.peoplebox {
  float: left; margin-left: 75px; width: 1000px; margin-bottom: 30px; 
}
iframe {
  background-color: #ffffff;
}
.clear {
  clear:both;
}
.icony {
  margin: 0 auto; width:800px; text-align: left;
}
img.i1 {
  margin-left: 72px;
}
.i2 {
  margin-left: 52px;
}
.i3 {
  margin-left: 50px;
}
.i4 {
  margin-left: 50px;
}
.i5 {
  margin-left: 42px;
}
.i6 {
  margin-left: 50px;
}
.i7 {
  margin-left: 50px;
}
.i8 {
  margin-left: 50px;
}
.i9 {
  margin-left: 46px;
}
.side {
  float: left; text-align: left; width: 200px; font-size: 12px; 
  margin: 0 auto; background-color: #EFEFFB; padding: 10px; border-radius: 4px; 
  border: 1px solid #CED8F6;
}
.sidetitle {
  display: inline-block; width: 200px; font-size: 16px; text-align: center;
}
#vizbox {
  display: none; width: 1100px; margin: 0 auto;
}
.container {
  font-size: 8px;
}
.list {
  height: 60px; margin: 0 auto; text-align: center; width: 480px; margin-bottom: 20px; 
}
.list a.normal {
  display: block; width: 100px; height: 40px; color: #DF7401; background-color: #ffffff; float: left; 
  vertical-align: middle; border-radius: 2px; margin-left: 20px; line-height: 40px;
}
.list a.firstone {
  margin-left: 80px; background-color: #DF7401; display: block; width: 100px; height: 40px; color: #ffffff; 
  float: left; margin-right: 20px; 
  vertical-align: middle; border-radius: 2px; line-height: 40px;
}