{% extends "base.html" %}


{% block title %}ChatterTrack - Login!{% endblock %}
{% block includes %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width">
    
    <!-- CSS -->
    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        
        <header class="site-header cf" role="banner">
            <div class="site-logo">
                <span style="color: #D9750B;">Chatter<span ><img src="{{ STATIC_URL }}ct/asset/twitter.png" width="45" height="45" /></span><span style="color: #D9750B;">Track<span>
            </div>
        </header>
        
        <h2>Authentication: </h2>
        <p>You must authenticate with your twitter account to use the dashboard:</p>
        
        <form action="/ct/twitter_login/" method="post">
            {% csrf_token %}
            Enter your Twitter username: 
            <input type="text" name="username" placeholder="eg: EmWatson" />
            <br /><br />
            <input type="submit" value="Authenticate" />
        </form>
        
    </div>
{% endblock %}

{% block footer %}
        <footer class="site-footer" role="contentinfo">
            <div class="container">
                A project from Northwestern University by
                Bryan Lowry, Khalid Aziz, and Liu Liu,
               .
            </div>
        </footer>
{% endblock %}
