{% extends "base.html" %}


{% block title %}ChatterTrack - Login!{% endblock %}
{% block includes %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width">
    
    <!-- CSS -->
    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <form action="/ct/twitter_login/" method="post">
        {% csrf_token %}
        Enter your Twitter username: 
        <input type="text" name="username" placeholder="eg: EmWatson" /><br />
    <input type="submit" value="Authenticate" />
{% endblock %}

{% block footer %}
        <footer class="site-footer" role="contentinfo">
            <div class="container">
                A project from Northwestern University by
                Bryan Lowry, Khalid Aziz, and Liu Liu,
               .
            </div>
        </footer>
{% endblock %}
